.bt{
    display:inline-block;
    color: white;
    font-weight: bold;
    min-height: 33px;
}

.bt:hover{
    color: #eeeeee;
    text-decoration: none;
}
.bt div{
    background-position: top left;
}
.bt:hover div{
    background-position: bottom left;
}

.bt-green-l{
    float: left;
    background: transparent url(/images/green-left.png) no-repeat top left;
    width: 15px;
    height: 33px;
}


.bt-green-c{
    float: left;
    background: transparent url(/images/green-bg.png) repeat-x top left;
    height: 26px;
    padding-top: 7px;
    padding-right: 3px;
}

.bt-green-arrow{
    float: left;
    background: transparent url(/images/green-right-arrow-left.png) repeat-x top left;
    width: 25px;
    height: 33px;
}

.bt-green-plus{
    float: left;
    background: transparent url(/images/green-right-plus.png) repeat-x top left;
    width: 25px;
    height: 33px;
}

.bt-green-scope{
    float: left;
    background: transparent url(/images/green-right-scope.png) repeat-x top left;
    width: 25px;
    height: 33px;
}

.bt-green-power-on{
    float: left;
    background: transparent url(/images/green-right-power-on.png) repeat-x top left;
    width: 25px;
    height: 33px;
}


.bt-red-l{
    float: left;
    background: transparent url(/images/red-left.png) no-repeat top left;
    width: 15px;
    height: 33px;
}


.bt-red-c{
    float: left;
    background: transparent url(/images/red-bg.png) repeat-x top left;
    height: 26px;
    padding-top: 7px;
    padding-right: 3px;
}

.bt-orange-l{
    float: left;
    background: transparent url(/images/orange-left.png) no-repeat top left;
    width: 15px;
    height: 33px;
}


.bt-orange-c{
    float: left;
    background: transparent url(/images/orange-bg.png) repeat-x top left;
    height: 26px;
    padding-top: 7px;
    padding-right: 3px;
}

.bt-red-down-l{
    float: left;
    background: transparent url(/images/red-down-left.png) no-repeat top left;
    width: 15px;
    height: 33px;
}


.bt-red-down-c{
    float: left;
    background: transparent url(/images/red-down-bg.png) repeat-x top left;
    height: 25px;
    padding-top: 8px;
    padding-right: 3px;
}

.bt-red-down-power-off{
    float: left;
    background: transparent url(/images/red-right-power-off.png) repeat-x top left;
    width: 25px;
    height: 33px;
}

.bt-small{

}

.bt-orange-small-edit{
    float: left;
    background: transparent url(/images/small-orange-edit.png) no-repeat top left;
    width:33px;
    height:33px;
    max-width:33px;
    max-height:33px;
}

.bt-red-small-cross{
    float: left;
    background: transparent url(/images/small-red-cross.png) no-repeat top left;
    width:33px;
    height:33px;
    max-width:33px;
    max-height:33px;
}

.bt-green-small-arrow-down{
    float: left;
    background: transparent url(/images/small-green-arrow-down.png) no-repeat top left;
    width:33px;
    height:33px;
    max-width:33px;
    max-height:33px;
}

.bt-red-small-arrow-up{
    float: left;
    background: transparent url(/images/small-red-arrow-up.png) no-repeat top left;
    width:33px;
    height:33px;
    max-width:33px;
    max-height:33px;
}

.bt-red-back{
    float: left;
    background: transparent url(/images/red-right-back.png) repeat-x top left;
    width: 25px;
    height: 33px;
}

.bt-red-cross{
    float: left;
    background: transparent url(/images/red-right-cross.png) repeat-x top left;
    width: 25px;
    height: 33px;
}

.bt-orange-edit{
    float: left;
    background: transparent url(/images/orange-right-edit.png) repeat-x top left;
    width: 25px;
    height: 33px;
}