* { margin: 0; padding: 0 0 0 0;}

html, body {
    min-height: 100%;
    width: 100%;
    height: 100%;
}

body {
    background: #ffffff;
    margin:0;
    padding:0;
    border: 0 none;
    font: 12px Verdana, Arial, Helvetica, sans-serif;
}

#wrapper{
    background: #FFFFFF url("/images/header-bg.gif") top left repeat-x;
    width: 100%;
    height: 100%;
}
#main{
    width: 945px;
    margin: 0 auto 0 auto;
    margin-top:25px;
}

#header{
    min-width: 945px;
    width: 100%;
    height: 170px;
    margin: 0;
    background: url(/images/nav.gif) no-repeat bottom center;
    display:block;
    position:relative;
}
#header-content{
    position: relative;
    width: 945px;
    margin: auto;
    top: 132px;
    font: bold 16px Arial;
    padding-left: 50px;
}

#header-content img{
    vertical-align: top;
    margin-top: 9px;
}

#header-content ul{
    display: inline-block;
}

#header-content ul ul{
    display: block;
}

#header-content li{
    float: left;
    padding: 9px 20px 0 20px;
    min-height: 38px;
}
#header-content li ul li{
    padding: 0;
    min-height: 0;
}

#header-content a{
    color: #eaddde;
}

#header #logo{
    position:absolute;
    left:50%;
    top:0;
    margin-left:-485px;
    z-index:0;
}

#header #banner{
    position:absolute;
    left:50%;
    top:0;
    margin-left:100px;
    z-index:0;
}

#header #link{
    position:absolute;
    left:50%;
    top:90px;
    margin-left:155px;
    z-index:0;
}

#leftpanel{
    display: inline-block;
    width: 700px;
    max-width: 700px;
    padding: 0;
    margin: 0;
    color: black;
}

#left-new p,h1,h2,h3,h4,h5{
    color: #333333;
}

#left-new h2{
    font-size: 14px;
}

#blog-header{
    min-width: 700px;
    min-height: 131px;
    background: transparent url("/images/blog-header.png") left top no-repeat;
    margin-bottom: 10px;
}

.blog-date{
    background: transparent url("/images/blog-date.gif") top right no-repeat;
    position: relative;
    min-height: 66px;
    min-width: 72px;
    float: right;
    left: -685px;
}

.blog-date h1{
    padding: 6px 5px 0 25px;
    text-align: center;
}

.blog-date h4{
    padding: 0 6px 0 25px;
    margin:0;
    text-align: center;
    font-size: 8px;
    font-weight: normal;
}

#left-top .post-odd{           
    max-width: 480px;
}

#left-news{
    display: block;
    float: none;
    padding-bottom: 10px;
}

#rightpanel{
    width: 240px;
    max-width: 240px;
    min-height:327px;
    padding: 0;
    /*margin-left: 25px;*/
    display: inline-block;
    vertical-align: top;
}

#blog{
    background: transparent url("/images/blog-bg.png") top right no-repeat;
    width: 240px;
    max-width: 240px;
    min-height:279px;
    max-height:279px;
    padding: 0;
    margin: 0 0 10px 0;
}

#register{
    width: 220px;
    max-width: 240px;
    min-height:37px;
    max-height:37px;
    padding: 0;
    margin: 0 0 0 20px;
}

#contact{
    width: 240px;
    min-height: 38px;
    background: transparent url("/images/contact-bg.gif") top right no-repeat;
    padding: 45px 0 10px 0;
    margin: 20px 0 0 0;
}

#contact p{
    padding: 0 10px 0 34px;
}

#footer{
    background: transparent url(/images/footer-bg.gif) top left repeat-x;
    text-align: center;
    height: 150px;
    color: #777777;
    width: 100%;
    margin: 0;
    position: relative;
}

#footer a img{
    vertical-align: top;
}

#footer a{
    text-decoration: none;
    padding: 0;
    color: #777782;
}

a{
    text-decoration: none;
    padding: 0;
    color: black;
    cursor:pointer;
}

a:hover {
    text-decoration: underline;
    color: black;
}

b{
    padding: 0;
    margin: 0;
}

h2{
    padding: 5px 5px 10px 5px;
    font-size: 16px;
}

h3{
    font-size: 1.3em;
    padding: 2px;
}

h4{
    padding: 5px 10px;
    font-size: 1.1em;
}

img{
    margin:0;
    padding:0;
    overflow: hidden;
    border: none;
    vertical-align: baseline;
}

p{
    padding: 0 5px 0 5px;
}

ul, li{
    padding: 0 5px 0 5px;
    list-style: none;
}

li li{
    padding: 0 0 0 5px;
}
table{
    padding: 5px 5px 5px 5px;
}
td{
    padding: 0 5px 0 5px;
    text-align: left;
}
th{
    padding: 0 5px 0 5px;
    text-align: left;

}

.post-odd{
    background: transparent url("/images/header.gif") center top no-repeat;
    padding: 5px 5px 10px 10px;
    color: #777777;
}

.post-even{
    background: transparent url("/images/header.gif") center top no-repeat;
    padding: 5px 5px 10px 10px;
    color: #777777;
}

.post-last{
    background: transparent url("/images/header.gif") center top no-repeat;
    padding: 5px 5px 10px 10px;
    color: #777777;
}

.post-even img{
    float: left;
    padding: 5px;
    margin: 0 5px;
    background:#f2f2f2;
    vertical-align: text-top;
}
.post-even p img{
    float: none;
    padding: 0;
    margin: 0;
    background: none;
}

.post-odd img{
    float: left;
    padding: 5px;
    margin: 0 5px;
    background:#f2f2f2;
    vertical-align: text-top;
}

.post-odd p img{
    float: none;
    padding: 0;
    margin: 0;
    background: none;
}

.post-last img{
    float: left;
    padding: 5px;
    margin: 0 5px;
    background:#f2f2f2;
    vertical-align: text-top;
}

.post-last p img{
    float: none;
    padding: 0;
    margin: 0;
    background: none;
}

.post-last .header-href{
    color: #dc8900;
    text-decoration:none;
    padding-top: 0;
}
.post-odd .header-href{
    color: #dc8900;
    text-decoration:none;
    padding-top: 0;
}

.post-even .header-href{
    color: #dc8900;
    text-decoration:none;
    padding-top: 0;
}

#map img{
    float: none;
    padding: 0;
    margin: 0;
    background: none;
}


#wctt-logo{
    height: 150px;
    text-align: left;
}

#wctt-logo img{
    margin-top: -10px;
    margin-left: -10px;
}

.alignbottom{
    position:absolute;

}

.post_footer{
    text-align: right;
    font-size: x-small;
    color: #cccccc;
}

.post p{
    color: #666666;
    padding: 2px 10px 0 10px;
}

.whiteBG{
    /*background-color: #666666;*/
    padding: 5px 5px 5px 5px;
}

.current{
    color: #666666;
}

.other{
    color: #ffffff;
}

.more{
    text-align: right;
    padding: 5px 15px 5px 5px;
    float: right;
    width: 620px;
}

.more a{
    color: #740009;
}

.more a:hover{
    color: #740009;
    text-decoration: underline;
}

.more-white{
    text-align: right;
    padding: 5px;
}

.more-white a{
    color: #ffffff;
}

.more-white a:hover{
    color: #ffffff;
    text-decoration: underline;
}

.news_post{
    padding: 0 5px 0 0;
    font-size: small;
    margin-top: -25px;
    text-align: justify;
}

.news_post p{
    padding: 0;
    margin: -5px 0 0 0;
}

.news_post h4 a{
    font-size: small;
    color: #ffff80;
    padding: 0;
    margin: 0;
}

.opacity{
    background: transparent url(/images/opacity_80.png) repeat;
}

.under_map{
    margin:5px 10px 5px 5px;
    padding: 5px;
    background: #ffffff;
}

.even{
    background: #DDDDDD;
}

.odd{
    background: #FFFFFF;

}

.prev_page{
    display: none;
}

.next_page{
    display: none;
}


.pagination .current{
    background: transparent url("/images/box-s.png") top left no-repeat;
    min-height: 18px;
    min-width: 18px;
    color: #4aafed;
    text-decoration: none;
    padding: 2px 5px;
}

.pagination a{
    background: transparent url("/images/box.png") top left no-repeat;
    padding: 2px 5px;
    min-height: 18px;
    min-width: 18px;
    color: #FFFFFF;
}

.pagination a:hover{
    text-decoration: underline;
}

.pagination .disabled{
    color: #999999;
    text-decoration: none;
    padding: 3px;
}

div.pagination{
    position: relative;
    top: 5px;
    right: 180px;
    padding: 10px;
    text-align: right;
}

.right-header{
    padding: 7px;
    font-weight: normal;
    color:#DDDDDD;
}

.right-content{
    padding: 10px;
    font-weight: normal;
    color:#DDDDDD;
}
.right-content p{
    color:#888888;
}

.right-content b{
    color:#BBBBBB;
}

.blog-first{
    padding: 45px 0px 20px 20px;
    min-width: 190px;
    max-width: 190px;
    min-height: 68px;
    max-height: 68px;
    overflow: hidden;
}

.blog-first h4{
    color: #333333;
    padding: 5px;
}

.blog-first h4 a{
    color: #333333;
}

.blog-first p{
    color: #3e3e3e;
    padding: 0 5px 0 5px;
}
.blog-first p a{
    color: #3e3e3e;
}

.blog-next{
    background: transparent url("/images/blog-sep.gif") bottom center no-repeat;
    padding: 0 0 10px 5px;
    margin: 10px 0 0 25px;
    font-weight: bold;
    color: #666666;
    min-width: 200px;
    max-width: 200px;
}

.blog-next a{
    color: #666666;
}

.blog-last{
    padding: 10px 0 10px 30px;
    font-weight: bold;
    color: #666666;
}

.blog-last a{
    color: #666666;
}

.post-footing{
    background-color: #dddddd;
    border-width: 1px;
    border-style:dashed;
    border-color:#aaaaaa;
    padding: 5px;
    margin: 10px 0 20px 0;
}
