html, body{
    min-width:974px;
}

#wrap{
    width:1000px;
    margin: auto;
}

#wrap #doc2{
    float:right;
}

body{
    background: transparent url("/images/header-bg.gif") top repeat-x;
}

a{
    text-decoration:none;
    font-size:inherit;
    color:#000000;
}

a:hover{
    text-decoration:underline;
}

a:visited{
    color:#000000;    
}

h1{
    font-size:16px;
    font-weight:bold;
}

h2{
    font-size:14px;
    font-weight:bold;
}
h3{
    font-size:12px;
    font-weight:bold;
}
h4{
    font-weight:bold;
}
h5{
    font-size:0.8em;
    font-weight:bold;
}
h1 a{
    font-size:16px;
    font-weight:bold;
}

h2 a{
    font-size:14px;
    font-weight:bold;
}
h3 a{
    font-size:12px;
    font-weight:bold;
}
h4 a{
    font-weight:bold;    
}
h5 a{
    font-size:0.8em;
    font-weight:bold;
}

#ft{
    background: transparent url("/images/footer-bg.gif") bottom repeat-x;
    height:102px;
}

#ft img{
    z-index:1;
}

.pokl, .wctt, .efs{
    position:relative;
    top: 17px;
}

.efs{
    right: -200px;
}

.wctt{
    right: -100px;
}

.sp-logo{
    position: relative;
    float:right;
    font-size:10px;
    text-decoration:none;
    color:#666666;
    top:80px;
    padding-right:20px;
}

.sp-logo img{
    position: relative;
    top:2px;
}

#header-content{
    font: bold 14px Arial;
    width:100%;
    position:absolute;
    left:0px;
    top:112px;
    height:40px;
    max-height:40px;
}

.hd-inner{
    position:relative;
    min-width:974px;
    width:974px;
    margin:auto;
}

.hd-inner > div > ul > li{
    float: left;
    padding: 11px 20px 0 20px;
    min-height: 38px;
    height: 38px;
}

.hd-inner > ul > li{
    float: left;
    padding: 11px 20px 0 20px;
    min-height: 38px;
    height: 38px;
}

/* Ukrywanie \*/
* html .hd-inner ul li{
    float: left;
    padding: 11px 20px 0 20px;
    min-height: 38px;
    height: 38px;
}
/* Koniec ukrywania */



.hd-inner ul li ul{
    padding: 0;
    min-height: 0;
    height: 0;

}

#header-content a{
    color: #eaddde;
}

.home-img{
    position:relative;
    top:-3px;
    left: 15px;
}

#logo{
    position:relative;
    top:10px;
    left:20px;
    width:300px;
}

#hd{
    background: url(/images/nav.gif) no-repeat bottom center;
    height:150px;
}

#left-top{
    width: 700px;
    max-width: 700px;
    margin-left:5px;
    margin-top:5px;
    min-height:327px;
    max-height:327px;
    height:327px;
    overflow:auto;
}

#blog{
    background: transparent url("/images/blog-bg.png") top right no-repeat;
    min-height:279px;
    max-height:279px;
    height:279px;
    padding: 0;
    margin: 5px 5px 10px 0;
}

.blog-first{
    padding: 11px 0px 6px 20px;
}

.blog-first p{
    min-width: 190px;
    width: 190px;
    max-width: 190px;
    min-height: 48px;
    height: 48px;
    max-height: 48px;
    overflow: hidden;
}

.blog-first h4{
    color: #333333;
    padding: 5px;
    height: 30px;
    max-height: 30px;
}

.blog-first h4 a{
    color: #333333;
}

.blog-first p{
    color: #3e3e3e;
    padding: 0 5px 0 5px;
}
.blog-first p a{
    color: #3e3e3e;
}

.blog-next{
    background: transparent url("/images/blog-sep.gif") bottom center no-repeat;
    padding: 0 0 10px 5px;
    margin: 10px 0 0 25px;
    font-weight: bold;
    color: #666666;
    min-width: 200px;
    max-width: 200px;
    max-height:30px;
}

.blog-next a{
    color: #666666;
}

.blog-last{
    padding: 10px 0 10px 30px;
    font-weight: bold;
    color: #666666;
}

.blog-last a{
    color: #666666;
}

#left-top .post{
    max-width: 480px;
    width: 480px;
    max-height:248px;
    height:248px;
    overflow: hidden;
    color:  #dddddd;
}

#left-news{
    margin-top:10px;
    margin-left: 5px;
}

#left-news .post{
    max-width: 700px;
    width: 700px;
    background: transparent url("/images/header.gif") center top no-repeat;
    padding: 5px 5px 10px 0;
    color: #777777;
}

#left-top .post p,h1,h2,h3,h4,h5{
    color: #FFFFFF;
}

#left-top h2 a{
    color: #FFFFFF;
}

#left-news .post p,h1,h2,h3,h4,h5{
    color: #333333;
}

#left-news h2 a{
    color: #333333;
}

#news{
    width: 700px;
    min-width: 700px;
    min-height:38px;
    background: transparent url("/images/news-bg.gif") top left no-repeat;
    margin-left:5px;
    margin-top:10px;
    padding:40px 0 0 3px;
}

.news-info{
    height: 38px;
    max-height:38px;
    min-height:38px;
    overflow:hidden;
    padding-top:10px;
}
#news a{
    color: #333333;
}

.post{
    padding: 10px 10px 10px 10px;
}

.post h2{
    padding-left: 10px;
    padding-bottom: 5px;
}

.blog-post h2, p{
    padding-left: 20px;
}

.post p{
    padding-top:5px;
}

.post img{
    float: left;
    padding: 5px;
    margin: 0 5px;
    background:#f2f2f2;
    vertical-align: text-top;
}

.post ul{
    margin-left:45px;
}

.post ol{
    margin-left:45px;
}

.post ul li{
    list-style:square;
}

.post ol li{
    list-style:decimal;
}

.post p img{
    float: none;
    padding: 5px;
    margin: 0 5px;
    background:#f2f2f2;
}

.post h1,h2,h3{
    padding-top: 0;
}

.post .header-href{
    color: #dc8900;
    text-decoration:none;
    padding-top: 0;
}

#register{
    width: 220px;
    max-width: 236px;
    min-height:37px;
    max-height:37px;
    padding: 0;
    margin: 0 0 0 16px;
}

#contact{
    min-height: 170px;
    height: 170px;
    background: transparent url("/images/contact-bg.gif") top right no-repeat;
    padding: 45px 0 0 0;
    margin: 10px 4px 0 0;
}

#contact p{
    padding: 0 10px 0 34px;
}

.prev_page{
    display: none;
}

.next_page{
    display: none;
}

.pagination .current{
    background: transparent url("/images/box-s.png") top left no-repeat;
    min-height: 18px;
    min-width: 18px;
    color: #4aafed;
    text-decoration: none;
    padding: 2px 5px;
}

.pagination a{
    background: transparent url("/images/box.png") top left no-repeat;
    padding: 2px 5px;
    min-height: 18px;
    min-width: 18px;
    color: #FFFFFF;
}

.pagination a:hover{
    text-decoration: underline;
}

.pagination .disabled{
    color: #999999;
    text-decoration: none;
    padding: 3px;
}

div.pagination{
    position: relative;
    top: 5px;
    right: 180px;
    padding: 10px;
    text-align: right;
}

.post-footing{
    border-top: 1px solid #aaaaaa;
    padding: 5px;
    margin: 10px 0 20px 0;
}

.blog-date{
    background: transparent url("/images/blog-date.gif") top right no-repeat;
    position: relative;
    min-height: 66px;
    height: 66px;
    min-width: 72px;
    width: 72px;
    float: right;
    left: -685px;
    overflow:visible;
}

.blog-date h1{
    padding: 0 12px 0 28px;
    text-align: center;
    color: #000000;
    margin-top:7px;
    font-size: 16px;
    font-weight: bold;
}

.blog-date h4{
    padding: 0 9px 0 28px;
    margin:0;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

#blog-header{
    min-width: 700px;
    min-height: 131px;
    background: transparent url("/images/blog-header.png") left top no-repeat;
    margin-bottom: 10px;
    margin: 10px 0 10px 5px;
}

#szkolenia-header{
    min-width: 700px;
    min-height: 131px;
    background: transparent url("/images/szkolenia-header.png") left top no-repeat;
    margin: 10px 0 10px 5px;
}

.comment{
    padding: 5px 5px 10px 5px;
    border-bottom: #CCCCCC 1px dotted;
}

.comment_div{
    padding: 5px 10px;
}

#new_comment_form{
    background: #eeeeee;
    margin-top: 10px;
    padding:5px;
}

.li-bg{
    background: transparent url("/images/list-bg.png") top left no-repeat;
    height: 17px;
    margin: 2px 0 2px 0;
    padding-top:1px;
}

.li-bg:first-letter{
    color:#ffffff;
    padding-right:8px;
    padding-left:5px;
}

.optimer{
    position:relative;
    top:-40px;
    right: -245px;
    font-family: Microsoft Sans Serif;
    font-size:18px;
    font-weight:normal;
    text-align: right;
    margin:0;
}

#fancy-text{
    position: relative;
    top: -100px;
    width:450px;
    margin: auto;
}