<div style="display:none" title="<%= t("user.role") %>" id="add_role">
  <div id="role_errors"></div>
    <% remote_form_for :role, :url => {:controller => :users, :action => "add_role"}, :html => { :name => "new_role_form"} do |f| -%>

        <p><%= f.label t("name") %><br/>
        <%= f.text_field :name %></p> <br/>


        <p><%= f.submit t('create'), :onclick => "$('#role_errors').html('');" %></p>
    <% end -%>
</div>
