<div class="ui-state-error ui-corner-all error_div" style="padding: 0pt 0.7em;">
     <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;"></span>
     <strong>Alert:</strong>
       <ul>
       <% for error in errors %>
        <li>
            <%= error %>
        </li>
       <% end %>
       </ul>
     </p>
</div>